.table-view{
    -fx-background-color: transparent;
    -fx-border-color:#000;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #337ab7;
    -fx-border-radius:15px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #000;
    -fx-alignment: center;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}

.scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}